In [1]:
# import modules
import pandas as pd
import re

In [2]:
df_posting_orig = pd.read_csv('job_postings.csv', skiprows = 1, usecols = range(1,5))

In [3]:
print(df_posting_orig.head(10))
print(df_posting_orig.tail(10))

                                               title  \
0                  AI Electrical / Computer Engineer
1  Clinical Laboratory Scientist CLS , Medical Da...
2                              Senior Data Scientist
3                                  Data Scientist II
4                           Data Scientist / Analyst
5                                     Data Scientist
6                                     Data Scientist
7                                  IT Data Scientist
8                              Senior Data Scientist
9                                     Data Scientist

                           company                 location  \
0  General Technical Services, LLC        Adelphi, MD 20783
1  Clinical Management Consultants            Palo Alto, CA
2                        WALGREENS      Deerfield, IL 60015
3                       Net2Source    Los Angeles, CA 90094
4                           Kforce     Juno Beach, FL 33408
5                   Hire IT people    Bentonville, AR 72712
6                          Parafin        San Francisco, CA
7                       System One         Topeka, KS 66606
8                      EarthOptics  Remote in Arlington, VA
9                      Fabrx Space                   Remote

                       salary
0                   Full-time
1   $85,225 - $135,355 a year
2                         NaN
3           $55 - $58 an hour
4           $35 - $45 an hour
5                 $58 an hour
6  $150,000 - $175,000 a year
7  $110,000 - $125,000 a year
8   $99,400 - $167,000 a year
9  $154,962 - $165,538 a year
                                  title                   company  \
1868                     Data Scientist          Neuberger Berman
1869                     Data Scientist      LinQuest Corporation
1870                 Sr. Data Scientist  Twinn Intelligence Group
1871                     Data Scientist  Buchanan And Edwards Inc
1872              Senior Data Scientist      Billtrust US Careers
1873                     Data Scientist                  Credible
1874   Director Statistical Programming  Penfield Search Partners
1875  Data Scientist, Product Analytics                      Meta
1876                     Data Scientist          Sunixa Solutions
1877                                NaN                       NaN

                                        location                      salary
1868                                New York, NY  $150,000 - $200,000 a year
1869                           Herndon, VA 20171                   Full-time
1870                               Chantilly, VA       Up to $170,000 a year
1871  Washington, DC 20535 \n(Penn Quarter area)             $157,000 a year
1872                     Remote in Arlington, VA  $148,000 - $185,000 a year
1873                        Remote in Durham, NC  $124,000 - $165,000 a year
1874                               Cambridge, MA                   Full-time
1875                                      Remote  $134,000 - $194,000 a year
1876                                      Remote           $60 - $65 an hour
1877                                         NaN                         NaN

In [4]:
df_posting_remix = df_posting_orig.iloc[:-1,1:] # selecting all but last row and first column
df_posting_remix.tail()

,company,location,salary
1872,Billtrust US Careers,"Remote in Arlington, VA","$148,000 - $185,000 a year"
1873,Credible,"Remote in Durham, NC","$124,000 - $165,000 a year"
1874,Penfield Search Partners,"Cambridge, MA",Full-time
1875,Meta,Remote,"$134,000 - $194,000 a year"
1876,Sunixa Solutions,Remote,$60 - $65 an hour

In [5]:
# can see from the first and last 20 rows there are issues with salary being per year or per hour and some locations including zip codes
# if per hour, then convert to salary
# salary_remix = []
# for pay in df_posting_remix['salary']:
#     if 'hour' in str(pay):
#         try:
#             temp_pay = []
#             pay_split = (pay.split('-'))
#             for rate in pay_split:
#                 # convert to salary by multiplying hourly rate by 40 hours/week and by 52 weeks/year
#                 rate = int(''.join([(x) for x in rate if x.isdigit()])) * 40 * 52
#                 temp_pay.append(rate)
# #             print(temp_pay)
#             st = ""
#             for val in temp_pay:
#                 if len(st) > 0:
#                     st += " - " + str(val)
#                 else:
#                     st += str(val)
#         except:
#             st = pay
#     elif'year' in str(pay):
#         try: 
#             pay_new = pay[:-6]
#             for val in temp_pay:
#                 st = pay_new
#                 print((st))
#         except:
#             st = pay
#     else:
#         st = pay
#     salary_remix.append(st)

In [6]:
# df_posting_remix['salary_remix'] = salary_remix

In [7]:
# df_posting_remix

In [8]:
my_str = '$100,000'

In [9]:
print(((my_str.replace(',',''))).replace('$', ''))
print(my_str)

100000
$100,000

In [10]:
# convert salary column to consistent format
salary_new = []
for posting_pay in df_posting_remix['salary']:
    if 'year' in str(posting_pay):
        # removes commas, dollar signs, and 'a year' text
        salary_new.append(((posting_pay.replace(',','')).replace('$', '')).replace('a year', '')) 
    elif 'hour' in str(posting_pay):
        pay_split = (posting_pay.split('-')) # splits separate strings on the '-'' as a list
        temp_pay = [] 
        for rate in pay_split:
        # removes extra text/characters, keeps the hourly number, converts to yearly pay
            rate_conv = int(''.join([(x) for x in rate if x.isdigit()])) * 40 * 52 
            temp_pay.append(rate_conv)
        fin_pay = ""
        for val in temp_pay: # joins list elements so that they match formatting with '-' in between
            if temp_pay[0] == val:
                fin_pay += str(val)
            else:
                fin_pay += " - " + str(val)
        salary_new.append(fin_pay)
    else:
        salary_new.append('')
        
df_posting_remix['salary_updated'] = salary_new

In [11]:
print(df_posting_remix)

                              company                 location  \
0     General Technical Services, LLC        Adelphi, MD 20783
1     Clinical Management Consultants            Palo Alto, CA
2                           WALGREENS      Deerfield, IL 60015
3                          Net2Source    Los Angeles, CA 90094
4                              Kforce     Juno Beach, FL 33408
...                               ...                      ...
1872             Billtrust US Careers  Remote in Arlington, VA
1873                         Credible     Remote in Durham, NC
1874         Penfield Search Partners            Cambridge, MA
1875                             Meta                   Remote
1876                 Sunixa Solutions                   Remote

                          salary    salary_updated
0                      Full-time
1      $85,225 - $135,355 a year   85225 - 135355
2                            NaN
3              $55 - $58 an hour   114400 - 120640
4              $35 - $45 an hour     72800 - 93600
...                          ...               ...
1872  $148,000 - $185,000 a year  148000 - 185000
1873  $124,000 - $165,000 a year  124000 - 165000
1874                   Full-time
1875  $134,000 - $194,000 a year  134000 - 194000
1876           $60 - $65 an hour   124800 - 135200

[1877 rows x 4 columns]

In [12]:
# remove zip codes
location_new = []
for location in df_posting_remix['location']:
    if '(' in str(location):
        try:
            index = 0
            for char in location:
                if '(' == char : 
                    temp_location = (location[:index]) # slice from open parenthese to end of string
                    location_new.append(temp_location)
                else:
                    index += 1

        except:
            location_new.append(location)
    else:
        location_new.append(location)

In [13]:
city_state = []
for location in location_new:
    try:
        if (bool(re.search(r'\d', location))): 
            city_state.append(str.strip(location)[:-6])
    #         temp = (location[:-7]) # slice off zip code
    #         print(temp)
        else:
            city_state.append(location)
    except:
        city_state.append(location)
print(len(city_state))

1877

In [14]:
df_posting_remix['city_state'] = city_state

In [15]:
df_posting_remix

,company,location,salary,salary_updated,city_state
0,"General Technical Services, LLC","Adelphi, MD 20783",Full-time,,"Adelphi, MD"
1,Clinical Management Consultants,"Palo Alto, CA","$85,225 - $135,355 a year",85225 - 135355,"Palo Alto, CA"
2,WALGREENS,"Deerfield, IL 60015",NaN,,"Deerfield, IL"
3,Net2Source,"Los Angeles, CA 90094",$55 - $58 an hour,114400 - 120640,"Los Angeles, CA"
4,Kforce,"Juno Beach, FL 33408",$35 - $45 an hour,72800 - 93600,"Juno Beach, FL"
...,...,...,...,...,...
1872,Billtrust US Careers,"Remote in Arlington, VA","$148,000 - $185,000 a year",148000 - 185000,"Remote in Arlington, VA"
1873,Credible,"Remote in Durham, NC","$124,000 - $165,000 a year",124000 - 165000,"Remote in Durham, NC"
1874,Penfield Search Partners,"Cambridge, MA",Full-time,,"Cambridge, MA"
1875,Meta,Remote,"$134,000 - $194,000 a year",134000 - 194000,Remote
1876,Sunixa Solutions,Remote,$60 - $65 an hour,124800 - 135200,Remote

In [16]:
# split city_state into remote/hybrid/in-person
envir = []
for entry in city_state:
    try:
        if 'hybrid' in str.lower(entry):
            if 'in' in str.lower(entry):
                envir.append(str.split(entry, ' remote in '))
            elif 'remote' in str.lower(entry):
                envir.append(str.split(entry, ' remote'))
            
        elif 'remote' in str.lower(entry):
            if 'in' in str.lower(entry):
                envir.append(str.split(entry, ' in '))
            else:
                envir.append([entry, 'Remote'])
        else:
            envir.append(['In-Person', entry])
    except:
        envir.append(['In-Person', 'Unknown']) # assuming if 'nan' likely in-person
print(len(envir))

1877

In [17]:
environment = []
location_new = []
for lst in envir:
    try:
        environment.append(lst[0])
        location_new.append(lst[1])
    except:
        print(lst)

In [18]:
df_posting_remix['environment']=environment
df_posting_remix['location_updated'] = location_new

In [19]:
df_posting_clean = ((df_posting_remix.drop('location', axis = 1)).drop('salary', axis = 1)).drop('city_state', axis = 1)

In [20]:
df_posting_clean.to_csv('df_posting_clean.csv')